<div>
  <h1>
    List of Users
  </h1>
</div>

<div>

  <% if session.fetch(:user_id) == nil %>

    <table border="1">

      <tr>

        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_users.each do |display| %>

        <tr>

          <td>
            <%= display.username %>
          </td>

          <td>
            <%= display.private_text %>
          </td>

          <td>
            <a href="/users/<%= display.username %>">
              Show Details
            </a>
          </td>

        </tr>

      <% end %>

    </table>

  <% else %>

    <table border="1">

      <tr>

        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_users.each do |display| %>
        
        <tr>

          <td>
            <%= display.username %>
          </td>

          <td>
           <%= display.private_text %>
          </td>

          <td>
            <form action="/insert_follow_request" method="post">  
              <input type="hidden" name="query_recipient_id" value="<%= display.id %>">

              <button>
                Follow
              </button>
          </td>

          <td>
            <a href="/users/<%= display.username %>">
              Show Details
            </a>
          </td>

        </tr>

      <% end %>

    </table>

  <% end %>

</div>