<div> 
  <h1>
    <%= @selected_user.username %>
  </h1>
</div>

<div>

  <dt>Private</dt>
  <dd><%= @selected_user.private %></dd>

  <% if @selected_user.id != session.fetch(:user_id) %>

    <dt>Followers</dt>
    <dd><%= @accepted_requests.count %></dd>

      <% if @accepted_requests.where(:recipient_id => @selected_user.id).last == nil %>

        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="<%= @selected_user.id%>">

          <button>
            Follow
          </button>
        </form>

      <% elsif @accepted_requests.where(:recipient_id => @selected_user.id).last != nil %>

        <a href="/delete_follow_request/<%= @accepted_requests.where(:recipient_id => @selected_user.id).last.id %>">
          Unfollow
        </a>
        
      <% end %>

      <dt>Following</dt>
      <dd><%= @selected_user.following.where(:status => "accepted").count %></dd>

  <% else %>

    <dt>Followers</dt>
    <dd><%= @selected_user.followers.where(:status => "accepted").count %></dd>

    <dd>
      <h4>
        Pending Follow Requests
      </h4>
    </dd>

    <dt>Following</dt>
    <dd><%= @selected_user.following.where(:status => "accepted").count %></dd>

    <dt>Edit User</dt>
    <dd>
      <form action="/modify_user/<%= @selected_user.id %>" method="post">
      <label for="browser_username">Username</label>
        <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..." value="<%= @selected_user.username %>">

      <label for="browser_private">Private?</label>
        <input id="browser_private" type="checkbox" name="query_private">

      <button>
        Update User
      </button>
    </dd>

  <% end %>

</div>

<div>
  <nav>

    <ul>

      <li>
        <a href="/users/<%= @selected_user.username %>">
          Profile
        </a>
      </li>
    
      <li>
        <a href="/users/<%= @selected_user.username %>/liked_photos">
          Liked photos
        </a>
      </li>
    
      <li>
        <a href="/users/<%= @selected_user.username %>/feed">
          Feed
        </a>
      </li>

    
      <li>
        <a href="/users/<%= @selected_user.username %>/discover">
          Discover
        </a>
      </li>

    </ul>

  </nav>
</div>

<div>

  <h2>
    Own Photos (<%= @selected_user.owned_photos.count%>)
  </h2>

  <table border="1">

    <tr>
      <th>
        Image
      </th>

      <th>
        Owner
      </th>

      <th>
        Caption
      </th>

      <th>
        Posted
      </th>

      <th>
        Likes
      </th>

      <th>
      </th>
    </tr>

    <% @selected_user.owned_photos.each do |display| %>

        <tr>
          <td>
            <img src="<%= display.image %>">
          </td>

          <td>
            <%= @selected_user.username %>
          </td>

          <td>
            <%= display.caption %>
          </td>

          <td>
            <%= time_ago_in_words(display.created_at) %> ago
          </td>

          <td>
            <%= display.likes_count %>
          </td>

          <td>
            <a href="/photos/<%= display.id %>">
              Show Details
            </a>
          </td>
        </tr>

    <% end %>

  </table>

</div>