<div> 
  <h1>
    <%= @selected_user.username %>
  </h1>
</div>

<div>

  <dt>Private</dt>
  <dd><%= @selected_user.private %></dd>

  <dt>Followers</dt>
  <dd><%= @accepted_requests.count %></dd>

    <% if @accepted_requests.where(:recipient_id => @selected_user.id).last == nil %>
    
      <form action="/insert_follow_request" method="post">
        <input type="hidden" name="query_recipient_id" value="<%= @selected_user.id%>">

        <button>
          Follow
        </button>
      </form>

    <% elsif @accepted_requests.where(:recipient_id => @selected_user.id).last != nil %>

      <form action="/delete_follow_request/<%= @accepted_requests.where(:recipient_id => @selected_user.id).last.id %>">
        <input type="hidden" name="query_recipient_id" value="<%= @selected_user.id%>">

        <button>
          Unfollow
        </button>
      </form>
      
    <% end %>

  <dt>Following</dt>
  <dd><%= @selected_user.following.where(:status => "accepted").count %></dd>

</div>