<div>
  <h1>
    List of Photos
  </h1>
</div>

<div>
  <% if session.fetch(:user_id) !=nil %>

    <form action="/insert_photo" method="post" enctype="multipart/form-data">
      <label for="browser_input">Image</label>
      <input id="browser_input" type="file" name="query_image">

      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_catpion" placeholder="Enter a caption for the photo..."></textarea>

      <button>
        Add Photo
      </button>

  <% end %>
</div>

<div>
  <table border="1">

    <tr>

      <th>
        Image
      </th>

      <th>
        Caption
      </th>

      <th>
        Owner
      </th>

      <th>
        Posted
      </th>

      <th>
        Likes
      </th>

      <th>
      </th>

    </tr>

    <% @list_of_photos.each do |display| %>
      <% if display.photo_owner.private == false %>

        <tr>

          <td>
            <img src="<%= display.image %>">
          </td>

          <td>
            <%= display.caption %>
          </td>

          <td>
            <%= display.photo_owner.username %>
          </td>

          <td>
            <%= time_ago_in_words(display.created_at) %>
          </td>

          <td>
            <%= display.likes_count %>
          </td>

          <td>
            <a href="/photos/<%= display.id %>">
              Show Details
            </a>
          </td>

        </tr>

      <% end %>
    <% end %>

  </table>
</div>