<div>
  <h1>
    Photo #<%= @selected_photo.id %> details
  </h1>
</div>

    <% if @selected_photo.photo_owner.id == session.fetch(:user_id) %>
      <div>
        <a href="/delete_photo/<%= @selected_photo.id %>">
          Delete this photo
        </a>
      </div>
    <% end %>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @selected_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @selected_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @selected_photo.photo_owner.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@selected_photo.created_at) %> ago
      </dd>

      <dt>
        Likes Count
      </dt>
      <dd>
        <%= @selected_photo.likes_count %>
      </dd>

      <dt>
        Comments Count
      </dt>
      <dd>
        <%= @selected_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% username_array = Array.new %>

          <% @selected_photo.photo_fan_users.each do |display| %>
            <% username_array.push(display.username) %>
          <% end %>

        <%= username_array.to_sentence %>
      </dd>

      <dt>
        Add a fan
      </dt>

      <% if session.fetch(:user_id) != nil %>
        <% if Like.where(:photo_id => @selected_photo.id, :fan_id => session.fetch(:user_id)).at(0) == nil%>

          <dd>
            <form action="/insert_like" method="post">
              <input type="hidden" value="<%= @selected_photo.id %>" name="query_photo_id">
              <input type="hidden" value="<%= session.fetch(:user_id) %>" name="query_fan_id">
              <button>Like</button>
            </form>
          </dd>

        <% else %>

          <dd>
            <a href="/delete_like/<%= Like.where(:photo_id => @selected_photo.id, :fan_id => session.fetch(:user_id)).at(0).id %>">
              Unlike
            </a>
          </dd>

        <% end %>

      <% end %>

    </dl>

<div>
  <table>

    <tr>
      <th>
        Commenter
      </th>

      <th>
        Comment
      </th>

      <th>
        Posted
      </th>
    </tr>

    <% @selected_photo.photo_comment.each do |display| %>

      <tr>
        <td>
          <%= display.comment_author.username %>
        </td>

        <td>
          <%= display.body %>
        </td>

        <td>
          <%= time_ago_in_words(display.created_at) %> ago
        </td>
      </tr>

    <% end %>

  </table>
</div>

<hr>

<% if @selected_photo.photo_owner.id == session.fetch(:user_id) %>
  <div>
    <div>
      <h2>
        Edit photo
      </h2>

      <form action="/modify_photo/<%= @selected_photo.id %>"  method="post" >
        <div>
          <label for="caption_box">
            Caption
          </label>

          <textarea id="caption_box" name="query_caption"><%= @selected_photo.caption %></textarea>
        </div>

        <div>
          <label for="comments_count_box">
            Comments count
          </label>

          <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @selected_photo.comments_count %>">
        </div>

        <div>
          <label for="likes_count_box">
            Likes count
          </label>

          <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @selected_photo.likes_count %>">
        </div>

        <div>
          <label for="owner_id_box">
            Owner
          </label>

          <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @selected_photo.owner_id %>">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" value="<%= @selected_photo.image %>">
        </div>

        <button>
          Update photo
        </button>
      </form>
    </div>
  </div>
<% end %>

<% if session.fetch(:user_id) != nil %>

  <h3>Add a new comment</h3>

  <form action="/insert_comment" method="post">
    <input type="hidden" value="<%= @selected_photo.id %>" name="query_photo_id">
    <input type="hidden" value="<%= session.fetch(:user_id) %>" name="query_author_id">

    <label for="browser_comment">Comment</label>
    <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

    <button>Add comment</button>
  </form>

<% end %>